.ng-autocomplete{
    display: inline-block;
    width: 320px;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
      
}
.autocomplete-container{
    height: inherit;
    .input-container{
        input{
            padding: 3px 15px;
            border-radius: 3px;
            height: inherit;
        }
    }
}
